.hero-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
  z-index: 1;
  /* background-color: var(--black); */
}

.hero-container {
  justify-content: space-around;
}

@media (max-width: 1060px) {
  .hero-container {
    /* justify-content: center; */
    /* flex-direction: column; */
  }
}
@media (max-width: 640px) {
  .hero-container {
    margin-top: 2rem;
  }
}
.hero-right__image-container {
  width: 30rem;
  height: 35rem;
  border-radius: 15rem 15rem 0 0;
  overflow: hidden;
  border: 8px solid rgba(255, 255, 255, 0.15);
}

/* .hero-left__description {
  flex-direction: column;
} */
.hero-left {
  gap: 3rem;
}
.hero-left__title {
  position: relative;
  z-index: 1; /*for the orange thing*/
}
.hero-left__title > h1 {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}
.hero-left__searchBar {
  background-color: white;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  border: 3px solid rgba(120, 120, 120, 0.374);
}
@media (max-width: 520px) {
  .hero-right__image-container {
    width: 20rem;
    height: 22.5rem;
  }
}
@media (max-width: 375px) {
  .hero-right__image-container {
    width: 15rem;
    height: 17.5rem;
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    border: 8px solid rgba(255, 255, 255, 0.15);
  }
  .hero-right__image-container > img {
    height: 100%;
    width: 100%;
  }

  .hero-left__searchBar {
    justify-content: center;
    gap: 0.75rem;
  }
  .hero-left__searchBar > button {
    justify-content: center;
    width: 20%;
  }
}
.hero-left__searchBar > input {
  border: none;
  outline: none;

  width: 50%;
}

.orange-circle {
  z-index: -1;
  background: var(--orange-gradient);
  position: absolute;
  right: 27%;
  top: -10%;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.hero-left__stats {
  width: 100%;

  gap: 2rem;
}

.stats__statContent > :nth-child(1) {
  /*numbers*/
  font-size: 2rem;
}

.stats__statContent > :nth-child(1) > :last-child {
  /* + */
  color: orange;
}
