.f-wrapper {
  background-color: var(--clr-primary-400);
  /* background-color: red;
  outline: 1px solid red; */
}
.f-container {
  justify-content: space-between;
  background-color: var(--clr-primary-400);
  padding: 3rem;
  width: 100%;
}

.f-left {
  gap: 1rem;
}
.f-left img {
  width: 8rem;
}

.f-right {
  gap: 0.5rem;
}
.navContainer {
  gap: 1rem;
}

.navContainer > * {
  color: var(--clr-primary-600);
  font-weight: 500;
}
