@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=MuseoModerno:wght@400;500;600;700&display=swap");
:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);

  --clr-primary-400: hsl(281, 56%, 79%);
  --clr-primary-500: hsl(281, 78%, 37%);
  --clr-primary-600: hsl(283, 76%, 25%);
  --clr-blue: hsl(199, 100%, 61%);
  /* --clr-orange: hsl(42, 100%, 70%); */
  --clr-orange: hsl(15, 87%, 75%);
  --ff-primary: "Poppins", sans-serif;
  --ff-logo: "Montserrat", sans-serif;
  --ff-logo1: "MuseoModerno", cursive;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
.paddings {
  padding: 1.5rem;
}
.containerPadding {
  padding: 2rem 2rem;
}
.white-gradient {
  /* background-color: red; */
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: var(--clr-primary-500);
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(162, 162, 162);
  font-size: 0.9rem;
}
.thirdText {
  color: rgb(70, 70, 70);
}
.orangeText {
  color: var(--clr-orange);
  font-size: 1.5rem;
  font-weight: 600;
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    /* max-width: 1280px; */
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
}

.button {
  border: none;
  color: white;
  background: var(--clr-blue);
  padding: 0.6rem 1.4rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 100ms ease-in;
}
.button a {
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
